.logos {
  display: grid;
  column-gap: var(--space-base);
  grid-template-columns: repeat(1, 1fr);

  @media (--breakpoint-xs) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (--breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (--breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  & li {
    background-color: #f4f4f4;
    margin-bottom: var(--space-base);
  }

  & figure {
    padding: 15%;
    width: 100%;
    height: auto;

    @media (--breakpoint-xs) {
      @apply p-4;
      width: 40vw;
      height: 40vw;
    }
    @media (--breakpoint-lg) {
      width: calc(33.33vw - 1.5rem);
      height: calc(33.33vw - 1.5rem);
    }
    @media (--breakpoint-xl) {
      width: calc(25vw - 1.5rem);
      height: calc(25vw - 1.5rem);
    }
  }

  & img {
    max-width: 225px;

    @media (--breakpoint-xl) {
      @apply p-12;
      max-width: 100%;
      width: 95%;
    }

    @media (min-width: 1800px) {
      width: 85%;
    }
  }
}
