.logos_container {
  &::after {
    @apply block absolute left-0 bottom-0 right-0 bg-gray-100 z-10;
    content: "";
    margin: calc(var(--space-base) / 2) calc(var(--space-base) / 2) 0;
    top: calc(var(--space-base) / 2);
  }

  & > span {
    @apply p-8;
  }
}
