.form {
  & input,
  & textarea {
    @apply text-gray-700 bg-gray-100 border-gray-300 rounded-sm px-4 py-2 w-full;
    border-width: 1px;
  }

  & textarea {
    min-height: 125px;
  }

  & button {
    transition: color var(--timing-sm) linear,
      background-color var(--timing-sm) linear;
  }
}

.avatar_image {
  @apply ml-auto;
  max-width: 600px;
}

.blockquote_container {
  &::before,
  &::after {
    @apply mx-auto bg-white hidden;
    content: "";
    height: 1px;
    width: 25%;

    @media (min-width: 500px) {
      @apply block;
    }
  }

  &::before {
    @apply mb-1;
  }

  &::after {
    @media (--breakpoint-xs) {
      @apply mt-4;
    }

    @media (min-width: 500px) {
      @apply mt-6;
    }

    @media (--breakpoint-sm) {
      @apply mt-10;
    }

    @media (--breakpoint-md) {
      @apply mt-16;
    }
  }

  & blockquote {
    max-width: 400px;
  }
}
