.nav {
  & img {
    transition: transform var(--timing-sm) ease-in-out;
  }

  & a:hover {
    & img {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    & span {
      @apply text-blue-300;
    }
  }
}

.menu_container {
  @apply hidden;

  @media (--breakpoint-md) {
    @apply bg-transparent block;
  }
}
.active {
  @apply block;

  & .menu_container {
    @apply block;

    & ul {
      display: block;

      @media (--breakpoint-md) {
        @apply flex;
      }
    }
    & li {
      @apply mb-8;

      @media (--breakpoint-md) {
        @apply mb-0;
      }
    }
  }

  & a,
  & button {
    @apply text-xl;

    @media (--breakpoint-md) {
      @apply text-base;
    }
  }
}

.menu li {
  @apply mb-0;

  @media (--breakpoint-md) {
    &:not(:last-child) {
      @apply relative;

      &::after {
        @apply absolute bg-body;
        content: "";
        width: 1px;
        height: 70%;
        top: 50%;
        right: -1rem;
        transform: translateY(-50%);
      }
    }
  }
}
.menu {
  & a,
  & button {
    @apply text-white;
    transition: color var(--timing-sm) linear;

    @media (--breakpoint-md) {
      @apply text-body;
    }
  }
  & a:hover,
  & button:hover {
    @apply underline;

    @media (--breakpoint-md) {
      @apply text-brandBlue no-underline;
    }
  }
}

.logo_text {
  margin-bottom: 0 !important;
  transition: color var(--timing-sm) linear;
}
