.nav {
  & a:hover span {
    @apply text-blue-300;
  }
}

.menu li {
  @apply mb-0;

  &:not(:last-child) {
    @apply relative;

    &::after {
      @apply absolute bg-body;
      content: "";
      width: 1px;
      height: 70%;
      top: 50%;
      right: -1rem;
      transform: translateY(-50%);
    }
  }
}
.menu {
  & a,
  & button {
    transition: color var(--timing-sm) linear;
  }
  & a:hover,
  & button:hover {
    @apply text-brandBlue;
  }
}

.logo_text {
  margin-bottom: 0 !important;
  transition: color var(--timing-sm) linear;
}
